{{ title }}
<ul>
    <li>ID: {{ file.id }}</li>
    <li>Filename: {{ file.filename}}</li>
    <li>Identity: {{ file.identity }}</li>
    <li>Start: {{ file.start_time }}</li>
    <li>End: {{ file.end_time }}</li>
    <li>Duration: {{ file.time_diff }}s</li>
</ul>

<ul>
{{#each out}}
    <li>
        {{ this.id }} -
        {{ this.filename }}
    </li>
{{/each}}
</ul>